<div class="container finances">
    <p-card styleClass="p-mt-3 card-with-custom-header">
        <p-header>
            <div class="p-d-flex p-jc-between p-pt-3 p-px-3">
                <div class="p-card-title">Accounts</div>
                <div class="p-d-flex">
                    <button pButton pRipple type="button" icon="pi pi-plus" (click)="showAddAccountDialog()"
                        class="p-button-rounded p-button-text p-button-info p-mr-1"></button>
                    <button pButton pRipple type="button" icon="pi pi-upload"
                        class="p-button-rounded p-button-text p-button-info p-mr-1"></button>
                    <button pButton pRipple type="button" icon="pi pi-check-square"
                        class="p-button-rounded p-button-text p-button-info"></button>
                </div>
            </div>
        </p-header>
        <p-table [columns]="cols" [value]="accountSummaries" styleClass="p-datatable-responsive-demo">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns">
                        <span class="p-column-title">{{col.header}}</span>
                        {{rowData[col.field]}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
    <p-card header="Import finance data from .eml file" styleClass="p-mt-3">
        <p-fileUpload name="files" url="/api/finances/upload-eml" (onUpload)="onUpload($event)" [multiple]="true"
            accept=".eml" [maxFileSize]="1000000">
            <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                </ul>
            </ng-template>
        </p-fileUpload>
    </p-card>
    <app-add-account-dialog [isVisible]="isAddAccountDialogVisible" (onSave)="hideAddAccountDialog()"
        (onCancel)="hideAddAccountDialog()"></app-add-account-dialog>
</div>