<p-dialog [(visible)]="isVisible" header="Add account" [modal]="true" [resizable]="false" styleClass="p-fluid"
    (onHide)="onCancelClicked()">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="name">Date</label>
            <input pInputText type="text" inputId="name" [(ngModel)]="account.name" required autofocus />
            <small class="p-invalid" *ngIf="!account.name">Date is required.</small>
        </div>
        <div class="p-field">
            <label for="number">Description</label>
            <input pInputText type="text" inputId="number" [(ngModel)]="account.number"/>
        </div>
        <div class="p-field">
            <label for="number">Amount</label>
            <input pInputText type="text" inputId="number" [(ngModel)]="account.number"/>
        </div>
        <div class="p-field">
            <label for="number">Balance</label>
            <input pInputText type="text" inputId="number" [(ngModel)]="account.number"/>
        </div>
        <div class="p-field">
            <label for="paycards">Paycards</label>
            <p-chips inputId="paycards" [(ngModel)]="account.paycards" separator=","></p-chips>
        </div>
        <div class="p-field">
            <label class="p-mb-3">Type</label>
            <div class="p-formgrid p-grid">
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton inputId="type1" name="type" value="Bank" [(ngModel)]="account.type"></p-radioButton>
                    <label for="type1">Bank</label>
                </div>
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton inputId="type2" name="type" value="Stock" [(ngModel)]="account.type"></p-radioButton>
                    <label for="type2">Stock</label>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text p-button-info"
            (click)="onCancelClicked()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text p-button-info"
            (click)="onSaveClicked()"></button>
    </ng-template>
</p-dialog>