.nav-runaway{
    transition-duration: 0.195s;
    transition-property: margin-left;
    transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
}

@media (min-width: 576px) {
    .nav-runaway{
        transition-duration: 0.2535s;
    }
}

@media (min-width: 992px) {
    .nav-runaway{
        transition-duration: 0.13s;
    }
}

@media screen and (prefers-reduced-motion: reduce) {
    .nav-runaway{
        transition: none;
    }
}

.navdrawer-open-persistent .nav-runaway{
    transition-duration: 0.225s;
    transition-property: margin-left;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    margin-left: 17.5rem;
}

@media (min-width: 576px) {
    .navdrawer-open-persistent .nav-runaway{
        transition-duration: 0.2925s;
    }
}

@media (min-width: 992px) {
    .navdrawer-open-persistent .nav-runaway{
        transition-duration: 0.15s;
    }
}

@media screen and (prefers-reduced-motion: reduce) {
    .navdrawer-open-persistent .nav-runaway{
        transition: none;
    }
}
