<p-card header="Devices" styleClass="p-mt-3">
    <p-dataView [value]="devices" [paginator]="true" [rows]="6" layout="grid">
        <ng-template let-device pTemplate="gridItem">
            <div class="p-p-2 p-col-12 p-sm-6 p-md-4">
                <p-card [header]="device.name" styleClass="p-shadow-6">
                    <table>
                        <tbody>
                            <tr>
                                <th class="auto-fit p-text-right p-pr-3">Name:</th>
                                <td>{{device.name}}</td>
                            </tr>
                            <tr>
                                <th class="auto-fit p-text-right p-pr-3">Identifier:</th>
                                <td>{{device.identifier}}</td>
                            </tr>
                            <tr>
                                <th class="auto-fit p-text-right p-pr-3">Type:</th>
                                <td>{{device.type}}</td>
                            </tr>
                            <tr>
                                <th class="auto-fit p-text-right p-pr-3">Status:</th>
                                <td>{{device.online ? 'Online' : 'Offline'}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="p-d-flex p-flex-row-reverse p-pt-3">
                        <div class="p-ml-3">
                            <button pButton pRipple type="button" class="p-button-lg p-button-info p-button-text"
                                icon="pi pi-power-off" (click)="onDeviceToggleClicked(device)"></button>
                        </div>
                        <div class="p-ml-3">
                            <button pButton pRipple type="button" class="p-button-lg p-button-info p-button-text"
                                icon="pi pi-ellipsis-h" (click)="onDeviceShowDetailsClicked(device)"></button>
                        </div>
                    </div>
                </p-card>
            </div>
        </ng-template>
    </p-dataView>
</p-card>