<p-fieldset legend="DBs and backups" styleClass="backups">
    <div class="mx-3 mb-3">
        <p-panel styleClass="mt-1" [toggleable]="true" [collapsed]="true" expandIcon="pi pi-chevron-right" collapseIcon="pi pi-chevron-down">
            <p-header>
                <span class="ui-panel-title ml-2">Event Store</span>
                <p-splitButton label="Backup" icon="pi pi-cloud-upload" (onClick)="save()" [model]="splitBtnBackupItems" styleClass="ui-button-success"></p-splitButton>
            </p-header>
            <p-dataView [value]="esBackups" styleClass="no-header no-border">
                <ng-template let-backup pTemplate="listItem">
                    <div class="d-flex flex-row justify-content-between align-items-center p-3 col-12" [ngClass]="{'border-bottom': !isLast(backup)}">
                        <div>
                            {{backup.createdDateTime | date:'short'}},
                            {{backup.name}},
                            {{backup.size | fileSize}}
                        </div>
                        <div>
                            <button pButton label="Remove" icon="pi pi-times" class="ui-button-secondary"
                                (click)="onRemove(key)"></button>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>
        </p-panel>
        <p-panel styleClass="mt-1" [toggleable]="true" [collapsed]="true" expandIcon="pi pi-chevron-right" collapseIcon="pi pi-chevron-down">
            <p-header>
                <span class="ui-panel-title ml-2">Read Store</span>
                <p-splitButton label="Backup" icon="pi pi-cloud-upload" (onClick)="save()" [model]="splitBtnBackupItems" styleClass="ui-button-success"></p-splitButton>
            </p-header>
            Content
        </p-panel>
    </div>
</p-fieldset>