<p-dialog [(visible)]="isVisible" header="Add trigger" [modal]="true" [resizable]="false" styleClass="p-fluid"
    (onHide)="onCancelClicked()">
    <ng-template pTemplate="content">
        <h4 class="p-mt-1 p-mb-3">Trigger sources</h4>
        <p class="p-mt-1 p-mb-3 p-ml-2 p-text-light" *ngIf="!triggerSources.length">No trigger source defined yet.</p>
        <div class="p-grid p-mb-3 p-shadow-3 p-ai-center" *ngFor="let src of triggerSources;">
            <div class="p-col p-pl-3">{{src.name}}</div>
            <div class="p-col p-pl-3">{{src.value.matchParam}}</div>
            <div class="p-col-fixed">
                <button pButton pRipple icon="pi pi-times" class="p-button-text p-button-rounded p-button-info"
                    (click)="onDeleteTriggerSource(src)"></button>
            </div>
        </div>
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="sourceType">Source type</label>
                <p-dropdown inputIdid="sourceType" [(ngModel)]="selectedSourceType" [options]="sourceTypes"
                    optionLabel="name"></p-dropdown>
            </div>
            <div class="p-field p-col">
                <label for="matchParam">Match param</label>
                <div class="p-inputgroup">
                    <input pInputText type="text" inputId="matchParam" [(ngModel)]="selectedSourceMatchParam">
                    <button pButton pRipple icon="pi pi-download"
                        class="p-button-outlined button-input-attached"></button>
                </div>
            </div>
            <div class="p-field p-col-fixed p-d-flex">
                <button pButton pRipple icon="pi pi-plus" class="p-button-text p-button-rounded p-button-info p-as-end"
                    (click)="onAddTriggerSource()"></button>
            </div>
        </div>
        <hr class="p-mb-3" />
        <h4 class="p-mt-1 p-mb-3">Trigger targets</h4>
        <p class="p-mt-1 p-mb-3 p-ml-2 p-text-light" *ngIf="!triggerTargets.length">No trigger targets defined yet.</p>
        <div class="p-grid p-mb-3 p-shadow-3 p-ai-center" *ngFor="let targ of triggerTargets;">
            <div class="p-col p-pl-3">{{targ.name}}</div>
            <div class="p-col-fixed">
                <button pButton pRipple icon="pi pi-times" class="p-button-text p-button-rounded p-button-info"
                    (click)="onDeleteTriggerTarget(targ)"></button>
            </div>
        </div>
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="targetDevice">Targets</label>
                <p-dropdown inputIdid="targetDevice" [(ngModel)]="selectedTarget" [options]="targetOptions"
                    optionLabel="name"></p-dropdown>
            </div>
            <div class="p-field p-col-fixed p-d-flex">
                <button pButton pRipple icon="pi pi-plus" class="p-button-text p-button-rounded p-button-info p-as-end"
                    (click)="onAddTriggerTarget()"></button>
            </div>
        </div>
        <hr class="p-mb-3" />
        <div class="p-fluid p-formgrid p-grid p-mt-1">
            <div class="p-col">
                <h4 class="p-m-0">Trigger actions</h4>
            </div>
            <div class="p-col-fixed p-d-flex">
                <button pButton pRipple icon="pi pi-plus" class="p-button-text p-button-rounded p-button-info p-as-end"
                    (click)="onAddTriggerAction()"></button>
            </div>
            <div class="p-col-fixed p-d-flex">
                <button pButton pRipple icon="pi pi-minus" class="p-button-text p-button-rounded p-button-info p-as-end"
                    (click)="onDeleteTriggerAction()"></button>
            </div>
        </div>
        <p-tabView [(activeIndex)]="selectedTriggerAction">
            <p-tabPanel *ngFor="let action of triggerActions; let i = index" [header]="'Action ' + i.toString()">
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-12">
                        <label for="payload">Payload</label>
                        <textarea pInputTextarea inputId="payload" [rows]="6" [(ngModel)]="action.payload"></textarea>
                    </div>
                    <div class="p-field p-col-6">
                        <label for="targetonoff">Any target On/Off</label>
                        <p-dropdown inputIdid="targetonoff" [(ngModel)]="action.isDeviceOn"
                            [options]="actionOnOffOptions" optionLabel="name" optionValue="value"></p-dropdown>
                    </div>
                    <div class="p-field p-col-6">
                        <label for="targetonlineoffline">Any target Online/Offline</label>
                        <p-dropdown inputIdid="targetonlineoffline" [(ngModel)]="action.isDeviceOnline"
                            [options]="actionOnlineOfflineOptions" optionLabel="name" optionValue="value"></p-dropdown>
                    </div>
                    <div class="p-field p-col-12">
                        <label for="prevactionno">Previously executed action number</label>
                        <p-inputNumber inputId="prevactionno" placeholder="Don't care" [min]="0"
                            [max]="triggerActions.length - 1" [(ngModel)]="action.lastExecutedActionNumber"></p-inputNumber>
                    </div>
                    <div class="p-field p-col-6">
                        <label for="delayminms">Delay min [ms]</label>
                        <p-inputNumber inputId="delayminms" placeholder="Don't care" [min]="0" [max]="2147483647"
                            [(ngModel)]="action.lastExecutedActionMinDelayMs"></p-inputNumber>
                    </div>
                    <div class="p-field p-col-6">
                        <label for="delaymaxms">Delay max [ms]</label>
                        <p-inputNumber inputId="delaymaxms" placeholder="Don't care" [min]="0" [max]="2147483647"
                            [(ngModel)]="action.lastExecutedActionMaxDelayMs"></p-inputNumber>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text p-button-info"
            (click)="onCancelClicked()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text p-button-info"
            (click)="onSaveClicked()"></button>
    </ng-template>
</p-dialog>