<p-card header="Redirections" styleClass="p-mt-3">
    <p-dataView [value]="storedRedirections">
        <ng-template let-item pTemplate="listItem">
            <div class="p-d-flex p-flex-row p-jc-between p-ai-center p-py-3 p-px-md-3 p-px-sm-1 w-100">
                <div class="p-pr-1 text-truncate">
                    <div>
                        {{item.name}}
                    </div>
                    <div class="text-truncate">
                        <a [href]="item.url">{{item.url}}</a>
                    </div>
                </div>
                <button pButton label="Remove" icon="pi pi-times" (click)="onRemove(item.name)"></button>
            </div>
        </ng-template>
    </p-dataView>
    <form class="p-3" (ngSubmit)="onSave()">
        <h3>Modify stored redirections:</h3>
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-4 p-xl-3">
                <label for="inputRedirectionName">Name:</label>
                <input pInputText type="text" inputId="inputRedirectionName" name="inputRedirectionName"
                    [(ngModel)]="inputRedirectionName" />
            </div>
            <div class="p-field p-col">
                <label for="inputRedirectionUrl">Url:</label>
                <input pInputText type="text" inputId="inputRedirectionUrl" name="inputRedirectionUrl"
                    [(ngModel)]="inputRedirectionUrl" />
            </div>
        </div>
        <div class="p-mt-2">
            <button pButton icon="pi pi-check" label="Save" type="submit"></button>
        </div>
    </form>
</p-card>