<p-fieldset legend="Redirections">
    <p-dataView [value]="storedRedirections" styleClass="no-header">
        <ng-template let-item pTemplate="listItem">
            <div class="d-flex flex-row justify-content-between align-items-center p-3"
                [ngClass]="{'border-bottom': !isLast(item)}">
                <div>
                    {{item.name}}
                </div>
                <div>
                    <a [href]="item.url">{{item.url}}</a>
                </div>
                <div>
                    <button pButton label="Remove" icon="pi pi-times" class="ui-button-secondary"
                        (click)="onRemove(item.name)"></button>
                </div>
            </div>
        </ng-template>
    </p-dataView>
    <form class="p-3" (ngSubmit)="onSave()">
        <h5>Modify stored redirections:</h5>
        <div class="form-row">
            <div class="form-group col-md-4 col-xl-3">
                <label for="inputRedirectionName" class="col-form-label">Name:</label>
                <div class="form-input ui-fluid">
                    <input pInputText type="text" id="inputRedirectionName" name="inputRedirectionName"
                        [(ngModel)]="inputRedirectionName" />
                </div>
            </div>
            <div class="form-group col">
                <label for="inputRedirectionUrl" class="col-form-label">Url:</label>
                <div class="form-input ui-fluid">
                    <input pInputText type="text" id="inputRedirectionUrl" name="inputRedirectionUrl"
                        [(ngModel)]="inputRedirectionUrl" />
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <button pButton icon="pi pi-check" label="Save" class="ui-button-success" type="submit"></button>
            </div>
        </div>
    </form>
</p-fieldset>