<header>
  <nav class="container p-d-flex p-jc-between p-ai-center p-py-3">
    <div class="p-d-flex p-ai-center">
      <a [routerLink]="['/']" class="p-d-flex p-ai-center"><img src="assets/icons/icon-72x72.png" width="32" height="32" /></a>
      <div *ngIf="navBrand" class="p-ml-3 brand-text">{{navBrand}}</div>
    </div>
    <div *ngIf="isAnyMenuItem">
      <p-menu #menu [popup]="true" [model]="menuItems"></p-menu>
      <button type="button" pButton (click)="menu.toggle($event)" label="Menu" icon="pi pi-chevron-down" iconPos="right"></button>
    </div>
  </nav>
</header>