<p-card header="Databases" styleClass="databases mt-3">
    <p-panel [toggleable]="true" [collapsed]="true" expandIcon="pi pi-chevron-right" collapseIcon="pi pi-chevron-down">
        <p-header>
            <span class="p-panel-title ml-2">Event Store</span>
            <p-splitButton label="Backup" icon="pi pi-cloud-upload" [model]="dbBtnMenuItems" (onClick)="create()">
            </p-splitButton>
        </p-header>
        <p-dataView [value]="backupFiles">
            <ng-template let-backupFile pTemplate="listItem">
                <div class="flex flex-row justify-content-between align-items-center py-3 w-full">
                    <div class="flex flex-wrap pr-1 text-truncate">
                        <div class="pr-1 text-truncate">{{backupFile.createdDateTime | date:'short'}},</div>
                        <div class="pr-1 text-truncate">{{backupFile.name}},</div>
                        <div class="pr-1 text-truncate">{{backupFile.size | fileSize}}</div>
                    </div>
                    <div>
                        <p-splitButton label="Restore" icon="pi pi-cloud-download"
                            [model]="bakBtnMenuItems[backupFile.name]" (onClick)="restore(backupFile)">
                        </p-splitButton>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </p-panel>
</p-card>
