<div class="container mt-3 mb-5">
    <p-table dataKey="id" [value]="events" [rowHover]="true" [rows]="10" [rowsPerPageOptions]="[10,25,50]"
        [paginator]="true" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
        <ng-template pTemplate="header">
            <tr>
                <th class="tiny-header"></th>
                <th>Date</th>
                <th>Event</th>
                <th>Status</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-ev>
            <tr class="ui-selectable-row" [pRowToggler]="ev">

                <td><i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i></td>
                <td>{{ ev.publishDateUtc }}</td>
                <td>{{ ev.payloadTypeDisplayName }}</td>
                <td>{{ ev.status }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-ev>
            <tr>
                <td colspan="4">
                    <pre class="mb-0"><code class="language-json" pCode>{{ ev.maskedPayload | json }}</code></pre>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="4">No events found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>