<div class="container mt-3 mb-5">
    <p-table [value]="events" [rowHover]="true" [rows]="10" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
        [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
        <ng-template pTemplate="caption">
            Event Log
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Date</th>
                <th>Event</th>
                <th>Status</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-ev>
            <tr>
                <td>{{ ev.publishDateUtc }}</td>
                <td>{{ ev.payloadTypeDisplayName }}</td>
                <td>{{ ev.status }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="3">No events found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>