<p-card header="Deployment" styleClass="p-mt-3">
    <form (ngSubmit)="onSubmit()">
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-4 p-xl-3">
                <label for="inputEnvironment">Environment:</label>
                <p-dropdown inputId="inputEnvironment" name="inputEnvironment" [options]="environments"
                    [(ngModel)]="selectedEnvironment"></p-dropdown>
            </div>
            <div class="p-field p-col-12 p-md-4 p-xl-3">
                <label for="inputVersion">Version (optional):</label>
                <p-dropdown inputId="inputVersion" name="inputVersion" [options]="versions" placeholder="none"
                    [showClear]="true" [(ngModel)]="selectedVersion"></p-dropdown>
            </div>
        </div>
        <div class="p-mt-2">
            <button pButton *ngIf="selectedVersion" icon="pi pi-download" label="Deploy" class="ui-button-success"
                type="submit"></button>
            <button pButton *ngIf="!selectedVersion" icon="pi pi-download" label="Redeploy" class="ui-button-success"
                type="submit"></button>
        </div>
    </form>
</p-card>