<div class="container">
    <p-card header="Events" styleClass="p-mt-3">
        <p-table *ngIf="(eventLog$ | async) as ele" dataKey="eventId" [value]="ele.items" [lazy]="true"
            [rows]="ele.pageSize" [rowsPerPageOptions]="ele.pageSizeOptions" [totalRecords]="ele.totalCount"
            [loading]="ele.loading" [rowHover]="true" [paginator]="true" [showCurrentPageReport]="true"
            (onLazyLoad)="lazyLoadEventLog($event)">
            <ng-template pTemplate="header">
                <tr>
                    <th class="tiny-col"></th>
                    <th>Timestamp</th>
                    <th>Event</th>
                    <th>Aggregate</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-ev let-expanded="expanded">
                <tr [pRowToggler]="ev">
                    <td><i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i></td>
                    <td>{{ ev.timeStamp | date:'short' }}</td>
                    <td>{{ ev.eventTypeDisplayName }}</td>
                    <td>{{ ev.aggregateTypeDisplayName }}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-ev>
                <tr>
                    <td colspan="4" class="p-p-0">
                        <pre class="p-m-0"><code class="language-json" pCode>{{ ev.maskedPayload | json }}</code></pre>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="4">No events found.</td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
</div>