<footer class="page-footer font-small blue pt-4">
    <div class="container text-center">
        <div class="row">
            <div class="col-12 mt-md-0 mt-3">
                <h5 class="text-uppercase">Stay in touch</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-md-0 mt-3">
                <a href="#" class="far fa-envelope"></a>
                <a href="#" class="fab fa-linkedin-in"></a>
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-github"></a>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="/">Distvisor</a> - Grzegorz Juszczak
    </div>
</footer>