<p-dialog [(visible)]="isVisible" header="Add transaction" [modal]="true" [resizable]="false" styleClass="p-fluid"
    (onHide)="onCancelClicked()">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="transactionDate">Transaction Date</label>
            <p-calendar inputId="transactionDate" [(ngModel)]="transaction.transactionDate" dateFormat="yy-mm-dd" [showTime]="false"
                [showIcon]="true" [showButtonBar]="true" [showOnFocus]="false"></p-calendar>
            <small class="p-invalid" *ngIf="!transaction.transactionDate">Transaction Date is required.</small>
        </div>
        <div class="p-field">
            <label for="postingDate">Posting Date</label>
            <p-calendar inputId="postingDate" [(ngModel)]="transaction.postingDate" dateFormat="yy-mm-dd" [showTime]="false"
                [showIcon]="true" [showButtonBar]="true" [showOnFocus]="false"></p-calendar>
            <small class="p-invalid" *ngIf="!transaction.postingDate">Posting Date is required.</small>
        </div>
        <div class="p-field">
            <label for="title">Title</label>
            <input pInputText type="text" inputId="title" [(ngModel)]="transaction.title" />
        </div>
        <div class="p-field">
            <label for="amount">Amount</label>
            <p-inputNumber inputId="amount" [(ngModel)]="transaction.amount" mode="currency" currency="PLN">
            </p-inputNumber>
            <small class="p-invalid" *ngIf="!transaction.amount">Amount is required.</small>
        </div>
        <div class="p-field">
            <label for="balance">Balance</label>
            <p-inputNumber inputId="balance" [(ngModel)]="transaction.balance" mode="currency" currency="PLN">
            </p-inputNumber>
            <small class="p-invalid" *ngIf="!transaction.balance">Balance is required.</small>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text p-button-info"
            (click)="onCancelClicked()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text p-button-info"
            (click)="onSaveClicked()"></button>
    </ng-template>
</p-dialog>