<p-fieldset legend="Secrets Vault">
    <p-dataView [value]="storedSecretKeys" styleClass="no-header">
        <ng-template let-key pTemplate="listItem">
            <div class="d-flex flex-row p-3" [ngClass]="{'border-bottom': !isLast(key)}">
                <div>
                    {{key}}
                </div>
                <div class="ml-auto">
                    <button pButton label="Remove" icon="pi pi-times" class="ui-button-secondary"
                        (click)="onRemove(key)"></button>
                </div>
            </div>
        </ng-template>
    </p-dataView>
    <form class="p-3" (ngSubmit)="onSave()">
        <h5>Modify stored secrets:</h5>
        <div class="form-row">
            <div class="form-group col-md-4 col-xl-3">
                <label for="inputSecretKey" class="col-form-label">Secret key:</label>
                <div class="form-input ui-fluid">
                    <p-dropdown id="inputSecretKey" name="inputSecretKey" [options]="allSecretKeys"
                        [(ngModel)]="selectedSecretKey"></p-dropdown>
                </div>
            </div>
            <div class="form-group col">
                <label for="inputSecretValue" class="col-form-label">Secret value:</label>
                <div class="form-input ui-fluid">
                    <input pInputText type="text" id="inputSecretValue" name="inputSecretValue"
                        [(ngModel)]="inputSecretValue" />
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <button pButton icon="pi pi-check" label="Save" class="ui-button-success" type="submit"></button>
            </div>
        </div>
    </form>
</p-fieldset>