<p-card header="Secrets Vault" styleClass="p-mt-3">
    <p-dataView [value]="storedSecretKeys">
        <ng-template let-key pTemplate="listItem">
            <div class="p-d-flex p-flex-row p-jc-between p-ai-center p-py-3 p-px-md-3 p-px-sm-1 w-100">
                <div class="p-pr-1 text-truncate">{{key}}</div>
                <button pButton label="Remove" icon="pi pi-times"
                    (click)="onRemove(key)"></button>
            </div>
        </ng-template>
    </p-dataView>
    <form (ngSubmit)="onSave()">
        <h3 class="p-pt-3">Modify stored secrets:</h3>
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-sm-6 p-md-4 p-lg-3">
                <label for="inputSecretKey">Secret key:</label>
                <p-dropdown inputId="inputSecretKey" name="inputSecretKey" [options]="allSecretKeys"
                    [(ngModel)]="selectedSecretKey"></p-dropdown>
            </div>
            <div class="p-field p-col">
                <label for="inputSecretValue">Secret value:</label>
                <input pInputText type="text" inputId="inputSecretValue" name="inputSecretValue"
                    [(ngModel)]="inputSecretValue" />
            </div>
        </div>
        <div class="p-mt-2">
            <button pButton icon="pi pi-check" label="Save" type="submit"></button>
        </div>
    </form>
</p-card>