@page "/counter"
@layout MainLayout

<div class="container">
    <div class="row">
        <div class="card w-100">
            <div class="card-body">
                <h5 class="card-title">Counter</h5>
                <p class="card-text">Current count: @currentCount</p>
                <button class="btn btn-primary" onclick="@IncrementCount">Click me</button>
            </div>
        </div>
    </div>
</div>


@functions {
    int currentCount = 0;

    void IncrementCount()
    {
        currentCount++;
    }
}
