<nav class="navbar navbar-dark navbar-full bg-primary nav-runaway">
    <button class="navbar-toggler d-block" data-target="#navmenu" data-toggle="navdrawer" data-type="persistent" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <span class="navbar-brand mr-auto">Distvisor</span>
</nav>


<div class="navdrawer navdrawer-persistent" id="navmenu" tabindex="-1">
    <div class="navdrawer-content">
        <ul class="navdrawer-nav">
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <i class="material-icons mr-3">home</i> Home
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="counter">
                    <i class="material-icons mr-3">plus_one</i> Counter
                </NavLink>
            </li>
        </ul>
    </div>
</div>

