<p-card header="Deployment" styleClass="mt-3">
    <form (ngSubmit)="onSubmit()">
    <div class="field grid">
            <label for="inputEnvironment" class="col-12 mb-2 md:col-1 md:mb-0">Environment:</label>
            <div class="col-12 md:col-4">
                <p-dropdown styleClass="w-full" inputId="inputEnvironment" name="inputEnvironment" [options]="environments"
                    [(ngModel)]="selectedEnvironment"></p-dropdown>
            </div>
        </div>
        <div class="field grid">
            <label for="inputVersion" class="col-12 mb-2 md:col-1 md:mb-0">Version (optional):</label>
            <div class="col-12 md:col-4">
                <p-dropdown styleClass="w-full" inputId="inputVersion" name="inputVersion" [options]="versions" placeholder="none"
                    [showClear]="true" [(ngModel)]="selectedVersion"></p-dropdown>
            </div>
        </div>
        <div class="mt-2">
            <button pButton pRipple *ngIf="selectedVersion" icon="pi pi-download" label="Deploy" class="p-button-info p-button-outlined"
                type="submit"></button>
            <button pButton pRipple *ngIf="!selectedVersion" icon="pi pi-download" label="Redeploy" class="p-button-info p-button-outlined"
                type="submit"></button>
        </div>
    </form>
</p-card>