<p-dialog [(visible)]="isVisible" header="Device details" [modal]="true" [resizable]="false" styleClass="p-fluid"
    (onHide)="onCancelClicked()">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="name">Name</label>
            <input pInputText type="text" inputId="name" [(ngModel)]="name" autofocus/>
        </div>
        <div class="p-field">
            <label for="location">Location</label>
            <input pInputText type="text" inputId="location" [(ngModel)]="location"/>
        </div>
        <div class="p-field">
            <label for="identifier">Identifier</label>
            <input pInputText type="text" inputId="identifier" [value]="device.identifier" disabled/>
        </div>
        <div class="p-field">
            <label for="type">Type</label>
            <input pInputText type="text" inputId="type" [value]="device.type" disabled/>
        </div>
        <div class="p-field">
            <label for="status">Status</label>
            <input pInputText type="text" inputId="status" [value]="device.online ? 'Online' : 'Offline'" disabled/>
        </div>
        <div class="p-field">
            <label for="params">Params</label>
            <textarea pInputTextarea inputId="params" [rows]="6" [(ngModel)]="params"></textarea>
        </div>        
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text p-button-info"
            (click)="onCancelClicked()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text p-button-info"
            (click)="onSaveClicked()"></button>
    </ng-template>
</p-dialog>