<p-card header="Home Box" styleClass="p-mt-3">
    <form (ngSubmit)="onSave()">
        <h3 class="p-mt-0">Update auth token by login to api:</h3>
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-4">
                <label for="inputHomeBoxUser">User:</label>
                <input pInputText type="text" inputId="inputHomeBoxUser" name="inputHomeBoxUser"
                    [(ngModel)]="inputHomeBoxUser" />
            </div>
            <div class="p-col-8 p-d-none p-d-md-block"></div>
            <div class="p-field p-col-12 p-md-4">
                <label for="inputHomeBoxPassword">Password:</label>
                <p-password inputId="inputHomeBoxPassword" name="inputHomeBoxPassword"
                    [(ngModel)]="inputHomeBoxPassword" [feedback]="false" [toggleMask]="true"></p-password>
            </div>
        </div>
        <div class="p-mt-2">
            <button pButton pRipple class="p-button-info p-button-outlined" icon="pi pi-check" label="Login" type="submit"></button>
        </div>
    </form>
</p-card>