a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

legend {
  width: auto;
  font-size: 1rem;
}

.no-header .ui-dataview-header  {
  display: none !important;
}

.form-input {
  display: block;
  width: 100%;
}

.borderless td, .borderless th {
  border: none;
}

.table td.fit, 
.table th.fit {
  white-space: nowrap;
  width: 1%;
}

.pi-large {
  font-size: 1.2rem !important;
}

.home-bg-img {
  width: 100vw;
  height: 100vh;
  background-image: url('assets/images/home_bg_img.jpg');
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
}