a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

legend {
  width: auto;
  font-size: 1rem;
}

.no-header .ui-dataview-header  {
  display: none !important;
}

.form-input {
  display: block;
  width: 100%;
}

.borderless td, .borderless th {
  border: none;
}

.table td.fit, 
.table th.fit {
  white-space: nowrap;
  width: 1%;
}

.pi-large {
  font-size: 1.2rem !important;
}

.home-jumbo {
  background-color: #343a40;
  color: #ffffff;
  padding-top: 3.7rem;
  padding-bottom: 3.7rem;
  text-align: center;
}

.home-short-header {
  font-size: 3rem;
}

.home-short-description {
  max-width: 576px;
  margin: auto;
  text-align: justify;
  font-size: 1.5rem;
  font-weight: normal;
}

.rounded-img {
  border-radius: 50%;
}