/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

legend {
  width: auto;
  font-size: 1rem;
}

.no-header .ui-dataview-header  {
  display: none !important;
}

.form-input {
  display: block;
  width: 100%;
}

.borderless td, .borderless th {
  border: none;
}

.table td.fit, 
.table th.fit {
  white-space: nowrap;
  width: 1%;
}

.pi-large {
  font-size: 1.2rem !important;
}