<p-card header="Redirections" styleClass="mt-3">
    <p-dataView [value]="storedRedirections">
        <ng-template let-item pTemplate="listItem">
            <div class="flex flex-row justify-content-between align-items-center py-3 md:px-3 sm:px-1 w-full">
                <div class="pr-1 text-truncate">
                    <div>
                        {{item.name}}
                    </div>
                    <div class="text-truncate">
                        <a [href]="item.url">{{item.url}}</a>
                    </div>
                </div>
                <button pButton pRipple class="p-button-info p-button-text" label="Remove" icon="pi pi-times" (click)="onRemove(item.name)"></button>
            </div>
        </ng-template>
    </p-dataView>
    <form (ngSubmit)="onSave()">
        <h3 class="pt-3">Modify stored redirections:</h3>
        <div class="field grid">
            <label for="inputRedirectionName" class="col-12 mb-2 md:col-1 md:mb-0">Name:</label>
            <div class="col-12 md:col-4">
                <input pInputText class="w-full" type="text" inputId="inputRedirectionName" name="inputRedirectionName"
                    [(ngModel)]="inputRedirectionName" />
            </div>
        </div>
        <div class="field grid">
            <label for="inputRedirectionUrl" class="col-12 mb-2 md:col-1 md:mb-0">Url:</label>
            <div class="col-12 md:col-4">
                <input pInputText class="w-full" type="text" inputId="inputRedirectionUrl" name="inputRedirectionUrl"
                    [(ngModel)]="inputRedirectionUrl" />
            </div>
        </div>
        <div class="mt-2">
            <button pButton pRipple class="p-button-info p-button-outlined" icon="pi pi-check" label="Save" type="submit"></button>
        </div>
    </form>
</p-card>