<div class="form-group row">
    <label 
        for="inputKeyValue" 
        class="col-sm-4 col-md-3 col-xl-2 col-form-label">Key value:</label>
    <div class="col">
        <input
            pInputText
            type="text"
            id="inputKeyValue"
            name="inputKeyValue" 
            [(ngModel)]="inputKeyValue"/>
    </div>
</div>
<div class="form-group row">
    <label 
        for="inputRepoOwner" 
        class="col-sm-4 col-md-3 col-xl-2 col-form-label">Repo owner:</label>
    <div class="col">
        <input
            pInputText
            type="text"
            id="inputRepoOwner"
            name="inputRepoOwner" 
            [(ngModel)]="inputRepoOwner"/>
    </div>
</div>
<div class="form-group row">
  <label for="inputRepoName"
         class="col-sm-4 col-md-3 col-xl-2 col-form-label">Repo name:</label>
  <div class="col">
    <input pInputText
           type="text"
           id="inputRepoName"
           name="inputRepoName"
           [(ngModel)]="inputRepoName" />
  </div>
</div>
<div class="form-group row">
    <div class="col-sm-10">
        <button 
            pButton
            icon="pi pi-check"
            label="Save" 
            class="ui-button-success"
            (click)="saveClicked()"></button>
    </div>
</div>