<p-card styleClass="p-mt-3 card-with-custom-header">
    <p-header>
        <div class="p-d-flex p-jc-between p-pt-3 p-px-3">
            <div class="p-card-title">Triggers</div>
            <div class="p-d-flex">
                <button pButton pRipple type="button" icon="pi pi-plus" (click)="onAddClicked()"
                    class="p-button-rounded p-button-text p-button-info p-mr-1"></button>
                <button pButton pRipple type="button" icon="pi pi-refresh" (click)="onRefreshClicked()"
                    class="p-button-rounded p-button-text p-button-info p-mr-1"></button>
            </div>
        </div>
    </p-header>
    <div *ngIf="(triggersVm$ | async) as triggersVm">
        <p-table dataKey="id" [value]="triggersVm" [rowHover]="true" [rows]="10"
            [rowsPerPageOptions]="[10,25,50]" [paginator]="true" [showCurrentPageReport]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th class="tiny-col"></th>
                    <th>Sources</th>
                    <th>Targets</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-trigger let-expanded="expanded">
                <tr>
                    <td>
                        <button type="button" pButton pRipple [pRowToggler]="trigger"
                            class="p-button-text p-button-rounded p-button-plain"
                            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                    </td>
                    <td>
                        <div *ngFor="let source of trigger.sources">{{ source }}</div>
                    </td>
                    <td>
                        <div *ngFor="let target of trigger.targets">{{ target }}</div>
                    </td>
                    <td>
                        <p-inputSwitch [ngModel]="trigger.enabled" (onChange)="onTriggerToggled(trigger, $event)"></p-inputSwitch>
                        <button pButton pRipple type="button" icon="pi pi-play" (click)="onExecuteClicked(trigger)"
                            class="p-button-rounded p-button-text p-button-info p-mr-1"></button>
                        <button pButton pRipple type="button" icon="pi pi-times"
                            (click)="onDeleteClicked($event, trigger)"
                            class="p-button-rounded p-button-text p-button-info p-mr-1"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-trigger>
                <tr>
                    <td colspan="4" class="p-p-0">
                        <p-tabView>
                            <p-tabPanel *ngFor="let action of trigger.actions; let i = index"
                                [header]="'Action ' + i.toString()">
                                <pre class="p-m-0"><code class="language-json" pCode>{{ action }}</code></pre>
                            </p-tabPanel>
                        </p-tabView>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="4">No triggers defined.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</p-card>