a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

nav {
  background-color: #23272b;
  color: #ffffff;
}

nav a{
  color: #ffffff;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}