<p-fieldset legend="Key Vault">
    <p-dataView [value]="keyList" styleClass="no-header">
        <ng-template let-key pTemplate="listItem">
            <div class="d-flex flex-row p-4 border-bottom">
                <div>
                    {{key}}
                </div>
                <div class="ml-auto">
                    <button 
                        pButton 
                        label="Remove" 
                        class="ui-button-secondary"
                        (click)="onRemove(key)"></button>
                </div>
            </div>
        </ng-template>
    </p-dataView>
    <h5 class="mt-4">Modify stored keys:</h5>
    <div class="form-group row">
        <label 
            for="inputKeyType" 
            class="col-sm-4 col-md-3 col-xl-2 col-form-label">Key type:</label>
        <div class="col">
            <p-dropdown 
                id="inputKeyType"
                name="inputKeyType"
                [options]="keyTypes" 
                [(ngModel)]="selectedKeyType"></p-dropdown>
        </div>
    </div>
    <div [ngSwitch]="selectedKeyType">
        <app-key-vault-github *ngSwitchCase="keyType.GithubApiKey" (save)="onSave($event)">
        </app-key-vault-github>
        <app-key-vault-ifirma *ngSwitchCase="keyType.IFirmaApiKey" (save)="onSave($event)">
        </app-key-vault-ifirma>
    </div>
</p-fieldset>