<div class="container">
    <div class="card p-mt-3 p-p-3">
        <p-dataView [value]="invoices" [paginator]="true" [rows]="6" layout="grid">
            <p-header>
                <div class="d-flex justify-content-start align-items-center">
                    <div class="font-weight-bold">Invoices</div>
                    <div class="ml-auto">
                        <p-dropdown placeholder="Sort By"></p-dropdown>
                    </div>
                </div>
            </p-header>
            <ng-template let-invoice pTemplate="gridItem">
                <div class="p-2 col-sm-6 col-lg-4">
                    <p-panel [header]="invoice.number">
                        <table class="table table-sm borderless">
                            <tbody>
                                <tr>
                                    <th class="fit pr-3">Customer:</th>
                                    <td>{{invoice.customer}}</td>
                                </tr>
                                <tr>
                                    <th>Amount:</th>
                                    <td>{{invoice.amount}}</td>
                                </tr>
                                <tr>
                                    <th>Issued:</th>
                                    <td>{{invoice.issueDate | date: 'yyyy-MM-dd'}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="d-flex flex-row-reverse">
                            <div class="ml-3">
                                <button pButton type="button" class="pi-large" icon="pi pi-search"
                                    (click)="onPreviewInvoiceClicked(invoice.id)"></button>
                            </div>
                            <div class="ml-3">
                                <button pButton type="button" class="pi-large" icon="pi pi-envelope"
                                    (click)="onSendMailInvoiceClicked(invoice.id)"></button>
                            </div>
                        </div>
                    </p-panel>
                </div>
            </ng-template>
        </p-dataView>
    </div>
    <div class="card p-mt-3 p-p-3">
        <p-fieldset legend="Generate new invoice">
            <form class="pl-3 pb-3" (ngSubmit)="onSubmit()">
                <div class="form-row">
                    <div class="form-group col-md-4 col-xl-3">
                        <label for="inputTemplate" class="col-form-label">Template:</label>
                        <div class="form-input">
                            <p-dropdown id="inputTemplate" name="inputTemplate" [options]="templateInvoices"
                                [(ngModel)]="selectedTemplateInvoiceId" showButtonBar="true">
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="form-group col-md-4 col-xl-3">
                        <label for="inputIssueDate" class="col-form-label">Issue date:</label>
                        <div class="form-input">
                            <p-calendar id="inputIssueDate" name="inputIssueDate" [(ngModel)]="issueDate"
                                [showButtonBar]="true">
                            </p-calendar>
                        </div>
                    </div>
                    <div class="form-group col-md-4 col-xl-3">
                        <label for="inputWorkdays" class="col-form-label">Workdays:</label>
                        <div class="form-input">
                            <p-spinner id="inputWorkdays" name="inputWorkdays" [(ngModel)]="workdays" [min]="1"
                                [max]="31">
                            </p-spinner>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <button pButton icon="pi pi-check" label="Generate" class="ui-button-success"
                        type="submit"></button>
                </div>
            </form>
        </p-fieldset>
    </div>
</div>