<p-dataView [value]="invoices" [paginator]="true" [rows]="4" layout="grid">
    <p-header>
        <div class="d-flex justify-content-start align-items-center">
            <div class="font-weight-bold">Invoices</div>
            <div class="ml-auto">
                <p-dropdown placeholder="Sort By"></p-dropdown>
            </div>
        </div>
    </p-header>
    <ng-template let-invoice pTemplate="gridItem">
        <div class="p-2 col-sm-6 col-lg-4">
            <p-panel [header]="invoice.number">
                <table class="table table-sm borderless">
                    <tbody>
                        <tr>
                            <th class="fit pr-3">Customer:</th>
                            <td>{{invoice.customer}}</td>
                        </tr>
                        <tr>
                            <th>Amount:</th>
                            <td>{{invoice.amount}}</td>
                        </tr>
                        <tr>
                            <th>Issued:</th>
                            <td>{{invoice.issueDate | date: 'yyyy-MM-dd'}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex flex-row-reverse">
                    <div class="ml-3">
                        <button pButton type="button" class="pi-large" icon="pi pi-search"
                            (click)="onPreviewInvoiceClicked(invoice.id)"></button>
                    </div>
                    <div class="ml-3">
                        <button pButton type="button" class="pi-large" icon="pi pi-envelope"
                            (click)="onSendMailInvoiceClicked(invoice.id)"></button>
                    </div>
                    <div class="ml-3">
                        <button pButton type="button" class="pi-large" icon="pi pi-plus"
                            (click)="onGenerateInvoiceClicked(invoice.id)"></button>
                    </div>                    
                </div>
            </p-panel>
        </div>
    </ng-template>
</p-dataView>