<div class="container">
    <p-card header="Invoices" styleClass="p-mt-3">
        <p-dataView [value]="invoices" [paginator]="true" [rows]="6" layout="grid">
            <ng-template let-invoice pTemplate="gridItem">
                <div class="p-p-2 p-col-12 p-sm-6 p-md-4">
                    <p-card [header]="invoice.number" styleClass="p-shadow-6">
                        <table>
                            <tbody>
                                <tr>
                                    <th class="auto-fit p-text-right p-pr-3">Customer:</th>
                                    <td>{{invoice.customer}}</td>
                                </tr>
                                <tr>
                                    <th class="auto-fit p-text-right p-pr-3">Amount:</th>
                                    <td>{{invoice.amount}}</td>
                                </tr>
                                <tr>
                                    <th class="auto-fit p-text-right p-pr-3">Issued:</th>
                                    <td>{{invoice.issueDate | date: 'yyyy-MM-dd'}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="p-d-flex p-flex-row-reverse p-pt-3">
                            <div class="p-ml-3">
                                <button pButton type="button" class="p-button-lg" icon="pi pi-search"
                                    (click)="onPreviewInvoiceClicked(invoice.id)"></button>
                            </div>
                            <div class="p-ml-3">
                                <button pButton type="button" class="p-button-lg" icon="pi pi-envelope"
                                    (click)="onSendMailInvoiceClicked(invoice.id)"></button>
                            </div>
                        </div>
                    </p-card>
                </div>
            </ng-template>
        </p-dataView>
    </p-card>
    <p-card header="Generate new invoice" styleClass="p-mt-3">
        <form (ngSubmit)="onSubmit()">
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-12 p-md-4">
                    <label for="inputTemplate">Template:</label>
                    <p-dropdown inputId="inputTemplate" name="inputTemplate" [options]="templateInvoices"
                        [(ngModel)]="selectedTemplateInvoiceId" showButtonBar="true"></p-dropdown>
                </div>
                <div class="p-field p-col-12 p-md-4">
                    <label for="inputIssueDate">Issue date:</label>
                    <p-calendar inputId="inputIssueDate" name="inputIssueDate" [(ngModel)]="issueDate"
                        dateFormat="yy-mm-dd" [showButtonBar]="true"></p-calendar>
                </div>
                <div class="p-field p-col-12 p-md-4">
                    <label for="inputWorkdays">Workdays:</label>
                    <p-inputNumber inputId="inputWorkdays" name="inputWorkdays" [(ngModel)]="workdays" mode="decimal"
                        [showButtons]="true" [min]="1" [max]="31">
                    </p-inputNumber>
                </div>
            </div>
            <div class="p-mt-2">
                <button pButton icon="pi pi-check" label="Generate" class="ui-button-success" type="submit"></button>
            </div>
        </form>
    </p-card>
</div>